
.site-footer {
    background: #f9fafb;
    padding: 0.75rem;
        /*root-relative font size*/
    font-size: 0.75rem;
    text-align: center;
}

.footer-inner {
    max-width: 1240px;
    margin: auto;
        /*auto center*/
}